
body {
	
	 background-image: url("bg.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 font-family: Calibri, sans-serif;
}

main{
	position: relative;
}

.container {
	width:1000px;
	margin-left:175px;
	margin: 0px auto;
	margin-top:80px;	
}

/* --------------------------------------------------------------top-navigation------------------------------------------ */
.top-navigation {
	font-size:15px;
	color:white;
	height: 30px;
	background-color: #3C5C8D;
	position: absolute;
	right:0px;
	top: -80px;
	display:flex;
	align-items:center;
	justify-content: center; 
}

.top-navigation ul{
	display: flex;
}

.top-navigation ul li {
	list-style-type: none;
	margin-right: 20px;
}

.top-navigation ul li a {
	color: white;
	text-decoration: none;
}

.top-navigation span{
   margin-right: 20px;
   color: white;
}
/* ------------------------------------------------------------------navigation-bar------------------------------------------ */
.navigation-bar img {
	position:relative;
	left:-110px;
}

.navigation-bar {
	background-color:rgb(0,0,0,0.5);
	color:white;
	height:40px;
	display:flex;
	align-items: center;
	justify-content:flex-end;
	margin-top: 20px;
	margin-bottom: 40px;
}

.navigation-bar ul{
	display:flex;
	justify-content:flex-end;
}

.navigation-bar ul li{
	margin-right: 20px;
	list-style-type:none;
	font-weight: bold;	
}

.navigation-bar ul li a{
	color: #8CBAD6;
	text-decoration: none;
}

.navigation-bar span{
   margin-right: 20px;
   color: white;
}
/* -----------------------------------------------------------grid-container-------------------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  /* background-color: #202E3C; */
  background-color:rgb(0,0,0,0.75);
  padding: 10px;
  color: white;
}

.grid-container a {
    color: #759DB9;
}
/* ------------------------------------------------------image----------------------------------------------------- */
img#img1 , #img2 {
    width: 350px;
	height: 152px;
	margin: 10px;
}
h2 {
	color: #C7E2FF;
}
#service {
    background-color:#0F1E33;
	/* padding: 8px 16px ; */
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-left: 10px;
	margin-right: 10px;
}
/* #service a { */
	/* margin-left: 10px; */
/* } */
/* -------------------------------------------------request-call----------------------------------------------------- */
.request-call{
	background-color:#0F1E33;
	padding: 8px 16px ;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}


/* .request-call { */
	/* margin-left: 0px; */
	/* text-align: center; */
	/* border: 1px solid red; */
/* } */
.request-call p {
	margin-left: 30px;
}
/* .request-call button{ */
	/* background-color: blue; */
/* } */
button {
	background-color: #135D75;
	color: #C7E2FF;
	border-radius: 5px;
	    margin-top: 18px;
}
/* ------------------------------------------------------footer-------------------------------------------- */
.footer{
	text-align:center;
	height: 25px;
	background-color:#29416D;
	color: #9FAEC9;
}
.footer a, span {
	color: white;
}




